* {
  font-family: "Sansita Swashed", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #857f6b;
  margin: 0;
}
.header {
  color: blueviolet;
}
.name {
  color: white;
  display: inline;
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 30%;
  margin: 30px;
  max-width: 40%;
  text-transform: capitalize;
}
.name-p {
  margin: 0%;
}
.name-p::first-letter {
  margin-left: 0%;
}
.img {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(./images/sushant\(2\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img .header {
  margin-top: 28vh;
  margin-left: 10vw;
  width: 20%;
  height: 50%;
  border-radius: 40%;
}
.intro {
  background: #e63946;
  padding: 20px;
}
.achievments {
  background: #81b29a;
  padding: 20px;
}
.per-life {
  background: #e9c46a;
  padding: 20px;
}
.death {
  background: #e76f51;
  padding: 20px;
}
.content {
  width: 70%;
  box-sizing: border-box;
  text-align: justify;
  float: right;
}
.side-img {
  width: 30%;
  height: 522px;
  margin: 0;
  padding: 0;
  display: inline-block;
  display: flex;
}
.side-img1 {
  width: 30%;
  height: 482px;
  margin: 0;
  padding: 0;
  display: flex;
}
h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
p {
  margin-left: 5%;
  text-transform: capitalize;
}
span {
  font-weight: bold;
  font-style: italic;
}
p::first-letter {
  margin-left: 10%;
  font-size: 3rem;
}
